body
{
	margin:0;
	padding:0;
	background-color: #77b3d4;
}

html, body
{
	height:100%;
}

.container
{
	margin:auto;
	font-family: Microsoft YaHei UI;
	font-size: large;
	font-weight:bolder;
	text-align: center;
	color: #003366;
	margin-left: 10%;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
li
{
	float: left;
	padding:2px;
}

.container #process
{
	width: 800px;
    height: 50%;
    padding: 10% 5%;
}

.container #sltinfo
{
	width: 800px;
	height:50%;
	margin-top: 80px;
}

.container #sltinfo ul li
{
	float:right;
	padding-right: 10px;
}

.arrow
{
	margin-top: 45px;
}
